.contato{
    background-color: var(--branco);
    padding: 1em;
}

.contato_titulo{
    color: var(--azul-degrade);
    font-size: 18px;
    font-weight: 500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__texto{
    color: var(--azul-degrade);
    font-weight: 300;
    margin: 1em 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__input{
    background-color: transparent;
    border: 1px solid var(--azul);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.contato__input::placeholder{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--azul);
    text-align: center;  
    background: url("../img/Email.svg") no-repeat;
    background-position: 1em;
}