.topicos{
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topico__titulo{
    color: var(--branco);
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1em;
}

.topico__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topico__item{
     margin: 1.5em 0.5em;
}
.topicos__link{
    background-color: var(--laranja);
    color: var(--branco);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    padding: 1em;
}